<h4 class="text-center py-4">Dashboard</h4>
<a routerLink="/dashboard" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">Overview</a>
<a routerLink="/product-add" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">Add Products</a>
<a routerLink="/product-list" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">Products List</a>
<a routerLink="/add-category" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">Add Category</a>
<a routerLink="/category-list" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">Category List</a>
<a routerLink="/order-list" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">Order List</a>
<a routerLink="/contact-us" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">Contact Requests</a>
<a routerLink="/about-us" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">About us</a>
<a routerLink="/users" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }">Users</a>
<a  (click)="logout(); $event.preventDefault()">Logout</a>
